<!DOCTYPE html>
<html ng-app="topSpots">

<head>
    <meta charset="utf-8">
    <title>SD TOp Spots</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<div id="container">

    <body ng-controller="HomeController as homeCtrl">
        <h1> Not so cold spots in SD </h1>
        <br>
        <h3> Add a new HotSpot!<h3>
  <form class="form-inline">
<div class="form-group">
  <label>Name</label>
  <input type="text" ng-model="homeCtrl.newSpotName">
</div>
<div class="form-group">
  <label>Description</label>
  <input type="text" ng-model="homeCtrl.newSpotDescription">
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary" ng-click="homeCtrl.AddNewSpot()">Add a Thing</button>
</div>
  </form>
    <table class="table">
        <tr>
            <th>spot</th>
            <th>INFO</th>
            <th>G-Link</th>
        </tr>
        <tr ng-repeat="place in homeCtrl.places">
            <td>{{place.name}}</td>
            <td>{{place.description}}</td>
            <td><a class="btn btn-info"
              ng-href="https://www.google.com/maps?q= {{place.location[0]}},{{place.location[1]}}" >finger punch google</a></td>

        </tr>
    </table>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="angular.js"></script>
</body>
</div>
</html>
